body {
    background-image: url("../../images/bg_egyptian_gods.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: black 0.4em 0.4em 0.4em;
    display: flex;
    flex-direction: column;
    header {
        text-align: center;
    }
}

main{
    display: flex;
    flex-direction: row;
    section{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    article{
        width: 50%;
        div{
        margin-top: 10%;
        }
        .calculateur{
            display: flex;
            align-items: center;
            text-align: center;
            @media (max-width: 700px) {
                flex-direction: column;
            }
            button{
            margin: 1%;
            font-weight: bold;
            font-size: 1.2rem;
            }
        }
        }
    }
}

.life_points{
    font-size: 6rem;
    background: url("../../images/pouet2.png");
    height: 164px;
    width: 216px;
    color: yellow;
}

#player1_name, #player2_name {
    width: 60%;
    margin: 10% auto;
}

footer{
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 700px) {
    main {
        flex-direction: column;
    }
}

#calculateur__buttons {
    display: flex;
    margin-left: 3px;
}